<script>
    import Reel from '$lib/components/Reel.svelte';
    import Pagination from '$lib/components/Pagination.svelte';

    export let data;

	let {
        specimens,
	    currentPageNumber,
	    pageTotal,
	    paginationPageTotal,
	    queryString,
	    collectionCount,
	    identifiedCount } = data;

    let params = new URLSearchParams(queryString);
    let view = params.get("view");
    let fontView = params.get("fonts");
</script>

<svelte:head>
	<title>Typereel | Specimens</title>
</svelte:head>

<main>
	<div class="container mx-auto">
		<Reel reelData={specimens} page="specimens" {collectionCount} {identifiedCount} {currentPageNumber} {view} {fontView} />
        {#if pageTotal > 1 }
    		<Pagination {paginationPageTotal} currentPageNumber={Number(currentPageNumber)} specimenTotal={collectionCount} {queryString} context="specimens" />
        {/if}
	</div>
</main>