<script>

	import LoginForm from '$lib/components/LoginForm.svelte';

	let error;

    export let data;
    
    let { returnToUrl } = data;

	async function handleSubmit({ detail: { email, password } }) {
		const response = await fetch('/user/login', {
			method: 'POST',
			body: JSON.stringify({ email, password }),
			headers: {
				'Content-Type': 'application/json'
			}
		});

		if (!response.ok) {
			error = (await response.json()).message;
			return;
		}

		window.location = returnToUrl || '/inspiration';
	}
</script>

<svelte:head>
	<title>Typereel | Login</title>
</svelte:head>

<div class="container mx-auto mt-10 max-w-[500px]">
	<h1 class="text-center mb-10">Login</h1>

	<div class="text-center">
		Login to Typereel to submit specimens, comment and contribute to font identification.
	</div>

	<div class="text-center mt-10">
		<em>Don't have an account? <a href="/register">Register</a></em>
	</div>
</div>

<div class="container mx-auto mt-10 max-w-[400px]">
	{#if error}
		<div class="alert alert-danger my-10" role="alert">{error}</div>
	{/if}
	<LoginForm on:submit={handleSubmit} />
</div>
