<svelte:head>
  <title>Reset email sent | Typereel</title>
</svelte:head>

<div class="container mx-auto text-center mt-10">

  <h1 class="mb-10">All done</h1>

  <p>Your password has been reset. You can now <a href="/login">login</a>.</p>

</div>
