.font-card {
    background: #fff;
    border-radius: 5px;
    transition: transform 0.1s linear;
  }
  .font-card:hover {
    transform: translateX(-3px);
  }
  .font-card + .font-card {
    margin-top: 1rem;
  }
  .font-card > div {
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
  }
  .font-card > div:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .title > h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }