.ui-avatar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #00aeff;
    border-radius: 50%;
    
}

.ui-avatar > .character {
    color: #fff;
    font-size: 2rem;
    position: relative;
    bottom: .2rem;
}