.ui-button,
button,
.ui-tag {
	display: inline-block;
	background: #000;
	color: #fff;
	padding: 0.6rem 1rem;
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.7;
	text-align: center;
	text-decoration: none;
	transition: background 0.1s linear;
}
.ui-button.-small,
.ui-tag.-small {
	font-size: 0.9rem;
	padding: 0.3rem 0.8rem;
}
.ui-button.-cta {
	background: #000;
	border-radius: 50px;
}
.ui-button.-brand {
	background: var(--brand);
}
.ui-button.-brand:hover {
	background: var(--brand-dark);
}
.ui-button.-outline {
	background: transparent;
	color: #333;
	border: 1px solid currentColor;
}
.ui-button.-outline:hover {
	background: rgba(0, 0, 0, 0.1);
}
.ui-button.-outline.-brand {
	background: transparent;
	color: #6300ff;
	border: 1px solid currentColor;
}
.ui-button.-outline.-brand:hover {
	background: #6300ff;
	color: #fff;
}
.ui-button.-icon {
	display: flex;
	align-items: center;
}
.ui-button.-icon svg {
	width: 30px;
	height: 30px;
	margin-right: 3px;
}
.ui-button.-unstyled,
button.-unstyled {
	background: none;
	padding: 0;
}
.ui-button.-unstyled:hover,
button.-unstyled:hover {
	background: none;
}
.ui-button:hover,
button:hover {
	background: #444;
	cursor: pointer;
	text-decoration: underline;
}
.ui-button:disabled,
button:disabled {
	background: #ccc;
}
.ui-button-list {
	display: flex;
}
.ui-button-list > * {
	margin-right: 0.5rem;
}
.ui-button-list > *:last-child {
	margin-right: 0;
}

@keyframes loading-animation {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.ui-submit {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui-submit svg {
	display: none;
}

.ui-submit.-loading svg {
	display: inline-block;
}

.ui-submit.-loading svg .spinner {
	animation: 0.5s linear infinite both loading-animation;
	transform-origin: 50% 50%;
}

.ui-submit.-loading span {
	display: inline-block;
	margin-right: 10px;
}
