/* UI BAR */
.ui-bar {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  .ui-bar.-error {
    background: red;
    color: #fff;
  }
  .meta-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .meta-bar > .icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  .meta-bar > .icon.-highlight {
    fill: #20e2bf;
  }
  .meta-bar > .icon.-warning {
    fill: #ec6767;
  }
  .meta-bar > .icon.-notify {
    fill: #e2cf52;
  }