/* UI BACKED */

.ui-backed {
	overflow: auto;
}

@media (max-width: 1000px) {
	.ui-backed {
		background: #000;
	}
}

.ui-backed.-dark {
	background-color: #333;
	color: #fff;

}

.ui-backed.-dark a {
    color: #fff;
}

.ui-backed.-light {
	background-color: #f9f9f9;
}

.ui-hero-plus-nav {
	background-color: #f9f9f9;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.ui-hero-plus-nav > .footer {
	margin-top: auto;
}
