/* UI CONTAINER */
.ui-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/* TODO rethink these class names? */
.ui-container.-med {
    max-width: 800px;
}
.ui-container.-slim {
    max-width: 500px;
}
.ui-container.-narrow {
    max-width: 350px;
}