/* UI COMMENT */
.comment {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.comment.-similar,
.comment.-match {
	background: #eee;
	border: none;
}
.comment.-font {
	background: #222;
	border: none;
	border-left: 30px solid #20e2bf;
	color: #fff;
}
.comment.-font a {
	color: #20e2bf;
}
.comment > .user {
	font-weight: bold;
}

.-default + .-default {
	border-top: none;
}
