.ui-form-group {
	& > .label {
		display: inline-block;
		font-weight: 700;
		margin-bottom: 0.7rem;
	}
}

.validation {
	color: #c93f54;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea,
.ui-editable {
	font-size: 1rem;
	padding: 0.7rem;
	border: 1px solid #666;
	display: block;
	width: 100%;
	border-radius: var(--border-radius);
}

/* A class for a textarea style editable element */
.ui-editable {
	min-height: 200px;
}

.ui-editable a {
    font-weight: bold;
}

input:focus {
	outline: none;
	/* border: none; */
}

/* UI FORM */
.form-group {
	display: flex;
	flex-direction: column;
}
.form-group > .label {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.input.-file {
	display: none;
}
.input.-text {
	padding: 1rem;
	outline: none;
}
.input.-checkbox {
	/* -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    vertical-align: middle; */
}

/* TODO integrate this with form styles */
.ui-tooltip > .text {
	display: inline-block;
	padding: 1rem;
	font-size: 0.8rem;
	background: #20e2bf;
}

.label.-file {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 1px solid #000;
	cursor: pointer;
}
.label.-file > * {
	margin-left: 1rem;
}
.label.-file svg {
	margin-left: 0;
}

.textarea {
	font-family: 'Work Sans', sans-serif;
}

.label-checkbox {
    display: flex;
}

.label-checkbox > label {
    order: 1;
    margin-left: .4rem;
}