.ui-grid {
	display: grid;
    
    &.-gg-1 {
        grid-gap: 1rem;
    }
    
}

@media (min-width: 500px) {
	.ui-grid {
		&.-one-two-two {
			grid-template-columns: repeat(2, 1fr);
		}
		&.-one-two-three {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (min-width: 760px) {
    .ui-grid {
        &.-one-two-three {
            grid-template-columns: repeat(3, 1fr);
        }
        &.-one-two-four {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
