.ui-header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'menuBar'
		'menuNav';
    &:first-child {
        margin-top: 2rem;
    }
	&.-active .ui-nav {
		display: flex;
		flex-direction: column;
	}

	& .bar {
		grid-area: menuBar;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	& .icon {
		display: flex;
		align-items: center;
		padding-bottom: 1rem;
	}

	& .-active .icon {
		background-color: #000;
	}

	& .icon svg {
		fill: #fff;
	}

	& .ui-nav {
		grid-area: menuNav;
		padding-left: 0;
		background-color: #444;

		& li {
			width: 100%;
		}

		& a {
			display: block;
			padding: 1rem;
			color: #fff;
		}

		& .ui-button {
			border-radius: 0;
			text-align: left;
		}
	}

	& > .bar {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

#main-nav {
	&.-hidden {
		display: none;
	}
}

@media (min-width: 700px) {
	.ui-header {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'menuBar menuNav';

		&.-active .icon {
			display: none;
		}

		&.-align-end {
			justify-content: flex-end;
		}

		& .icon {
			display: none;
		}

		& .ui-nav a {
			padding: 0;
		}

		& .ui-nav {
			background-color: transparent;
			flex-direction: row;

			& .ui-button {
				text-align: center;
				border-radius: 5px;
			}

			& a:not(.ui-button) {
				color: var(--primary);
				display: inline-block;
			}

			& .ui-button {
				padding: 0.5rem 1rem;
			}

			& li {
				width: auto;
				margin-left: 1rem;
				margin-right: 1rem;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}

		& > .bar {
			padding-left: 0;
			padding-right: 0;
		}
	}

	#main-nav.-hidden {
		display: flex;
	}
}
