/* UI HERO */

.ui-main-hero {
	display: grid;
	grid-gap: 4rem;
}

@media (min-width: 700px) {
	.ui-main-hero {
		grid-template-columns: 1fr 1fr;
	}
}

.ui-main-hero h1 {
	font-size: 3rem;
	font-weight: 700;
	color: #333;
	margin-top: 0;
}

.ui-main-hero > .title {
	display: flex;
	align-items: center;
}
