.ui-list {
	display: flex;
}
.ui-list.-center {
	justify-content: center;
}
.ui-list > .item + .item {
	margin-left: 1rem;
}
.ui-list.-pagination > .item {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
}
.ui-list.-pagination > .item.-active {
	background: #6300ff;
	color: #fff;
	text-decoration: none;
}
