.ui-layout.-hero-plus-nav {
	background-color: #f9f9f9;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.ui-layout.-hero-plus-nav > .footer {
	margin-top: auto;
}

.ui-layout.-spaced > * + * {
	margin-top: .5rem;
}