.ui-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ui-modal .panel {
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem;
  }
  