/* UI NAV */

.ui-nav {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
	align-items: center;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;

	&.-align-end {
		justify-content: flex-end;
	}
}
