
  .ui-showcase {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .showcase-pane {
    width: 100%;
    background: #eee;
  }
  @media (min-width: 500px) {
    .showcase-pane {
      width: 50%;
    }
  }

  .showcase-pane.image {
    display: flex;
    justify-content: flex-end;
    background: #ccc;
    text-align: center;
  }
  .showcase-pane.meta {
    text-align: left;
  }
  .pane {
    width: 100%;
    max-width: 600px;
  }
  .pane > .title {
    font-size: 1.8rem;
  }
  #average-color {
    transition: background-color 0.5s linear;
  }
  .item {
    margin-bottom: 1rem;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    cursor: pointer;
  }