/* UI TABS */
.ui-tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  
  .ui-tabs > .ui-button {
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 0;
  }
  .ui-tabs > .ui-button.-active {
    border-radius: 0;
    background: #000;
    color: #fff;
    &.-outline {
      border-color: #000;
    }
    &:hover {
      background: #000;
    }
  }
  
  .ui-tabs.-feature > .ui-button.-active {
    background: #6300ff;
    border: 1px solid #6300ff;
    color: #fff;
    &:hover {
      background: #4e00ca;
      border: 1px solid #4e00ca;
    }
  }
  .ui-tabs > .ui-button:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .ui-tabs > .ui-button:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .tab-section {
    display: none;
  }
  .tab-section.-active {
    display: block;
  }