<svelte:head>
  <title>Reset email sent | Typereel</title>
</svelte:head>

<div class="container mx-auto text-center mt-10">

  <h1 class="mb-10">Check your email</h1>

  <p>We've sent an email to the email address provided.</p>

</div>
