<script>
    import { Row, Col, Button } from 'stwui';

    export let data;

	let {
        fonts,
	    letters
    } = data;

	let letter_attributes;
	let selectedCharacter;
	let queryData = {
		testData: []
	};

	let queryArrays = [];

	function setCharacter(event) {

		selectedCharacter = event.target.innerText;

		// If a previously selected character was not completed
		// remove the last query
		const previousSelection = queryArrays[queryArrays.length - 1];

		if (previousSelection && !previousSelection.selected_attribute) {
			queryArrays.pop();
		}

		// Add to query array
		queryArrays = [
			...queryArrays,
			{
				character: selectedCharacter,
				available_attributes: letters[selectedCharacter]
			}
		];

	}

	async function resetFonts() {
		// Clear selections from UI
		letter_attributes = null;
		selectedCharacter = null;
		queryArrays = [];

		const allFonts = await fetch(`/api/fonts`, {
			method: 'POST',
			body: JSON.stringify({
				testData: []
			})
		})
			.then((res) => {
				return res.json();
			})
			.then((data) => {
				return data.data;
			});

		fonts = await allFonts;
	}

	async function filterFonts(attribute) {
		// Add the selected attribute to the existing object in the query array
		queryArrays[queryArrays.length - 1].selected_attribute = attribute;
		queryArrays = queryArrays;

		// Clear selections from UI
		letter_attributes = null;
		selectedCharacter = null;

		const filterRes = await fetch(`/api/fonts`, {
			method: 'POST',
			body: JSON.stringify(queryArrays)
		});

		const filterJson = await filterRes.json();
		fonts = filterJson.data;
	}
</script>

<div class="container mx-auto finder">
	<Row class="!-mx-5">
		<Col class="col-10 !px-5">
			<div class="flex flex-wrap letters">
				{#each Object.keys(letters) as letter}
					<div
						on:click={setCharacter}
						on:keydown={setCharacter}
						class="p-8 hover:bg-gray-300 letter {selectedCharacter == letter ? 'active' : ''}"
					>
						{letter}
					</div>
				{/each}
			</div>
		</Col>
		<Col class="col-8 !px-5 showcase-queries">
			{#each queryArrays as query}
				<Row class="showcase-query">
					{#if query.character}
						<Col class="col-24 character text-6xl text-center {!query.selected_attribute ? 'active' : ''}">
                            {query.character}
                        </Col>
					{/if}
					{#if query.selected_attribute}
						<Col class="col-24 attribute">
                            <div class="flex attribute align-center border border-gray-300 p-2 w-full">
                                <img src="images/attributes/{query.character}-{query.selected_attribute.toLowerCase().replaceAll(' ', '-')}.svg" alt="" class="mr-5" width="60">
                                {query.selected_attribute}
                            </div>
                        </Col>
					{/if}
					{#if query.character && !query.selected_attribute}
						<div class="showcase-attributes w-full">
							{#each query.available_attributes as attribute}
								<div class="flex attribute align-center border border-gray-300 p-2 w-full">
                                    <img src="images/attributes/{query.character}-{attribute.toLowerCase().replaceAll(' ', '-')}.svg" alt="" class="mr-5" width="60">
									<div on:click={filterFonts(attribute)} class="w-full flex items-center">
                                        {attribute}
                                    </div>
								</div>
							{/each}
						</div>
					{/if}
				</Row>
			{/each}
		</Col>

		<Col class="col-6 !px-5 font-results">
			<div class="my-10">
				<Button type="primary" size="sm" on:click={resetFonts}>Reset</Button>
			</div>
			<div class="_spaced-med _emphasized"><strong>Fonts</strong></div>
			{#if !fonts.length}
				Dambusters! No fonts found
			{:else}
				{#each fonts as font}
					<div>
						<div><a href="/font/{font._id}" target="_blank">{font.name}</a></div>
					</div>
				{/each}
			{/if}
		</Col>
	</Row>
</div>
