<script>

	import NewPasswordForm from '$lib/components/NewPasswordForm.svelte';

	let error;

    export let data;

	let {
        username,
        hash
    } = data;

	async function handleSubmit({ detail: { password } }) {
		const response = await fetch('/user/reset', {
			method: 'POST',
			body: JSON.stringify({ password, username, hash }),
			headers: {
				'Content-Type': 'application/json'
			}
		});

		if (!response.ok) {
			error = (await response.json()).message;
			return;
		}

		window.location = '/reset-complete';
	}
</script>

<div class="container mx-auto mt-10 mb-10 max-w-[500px]">
	<h1 class="mb-10 text-center">Choose a new password</h1>

	<div class="text-center">
		Enter a new password.
	</div>

	{#if error}
		<div class="message">{error}</div>
	{/if}

	<NewPasswordForm on:submit={handleSubmit} />
</div>
