<script>
    import { List, Button } from 'stwui';
    export let data;
	let fonts = data.fonts;
</script>

<div class="container text-center my-10 mx-auto">
    <h1 class="mb-5">Fonts</h1>
    Total fonts: {fonts.length}
</div>

<div class="container mx-auto max-w-[700px]">
    <List>
       {#each fonts as font}
         <List.Item>
             <List.Item.Content slot="content">
                <List.Item.Content.Title slot="title">{font.name}</List.Item.Content.Title>
             </List.Item.Content>
                  <List.Item.Extra slot="extra" placement="start">
                    <Button type="link" size="xs" href="/specimens?fonts={encodeURI(font.name)}">
                       View specimens
                    </Button>
                    {#if font.vendors && font.vendors.length}
                        <Button type="link" size="xs" href="{font.vendors[0].url}" class="ml-3">
                           View font
                        </Button>
                    {/if}
                 </List.Item.Extra>
          </List.Item>
       {/each}
    </List>
</div>
