<svelte:head>
	<title>Thanks | Typereel</title>
</svelte:head>

<div class="navbar bg-primary p-20" />

<div class="container-slim mt-50 text-center">
	<div class="content">
		<svg
			fill="#542ce3"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
			width="50"
			height="50"
			><path fill="none" d="M0 0h24v24H0z" /><path
				d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-5-9a5 5 0 0 0 10 0h-2a3 3 0 0 1-6 0H7zm1-2a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm8 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
			/></svg
		>

		<h1 class="font-weight-bold font-size-24 mb-50">Thanks for verifying</h1>

		<a href="/specimens" rel="external" class="btn btn-secondary">Go forth and reel</a>
	</div>
</div>
