<script>
    import { Avatar } from 'stwui';
    
	export let data;
    
    const {
        username,
    	user,
    	identifiedCount,
    	returnToUrl,
    	errorMessage
    } = data;

    const initials = username.slice(0, 1);

    let colors = [
        'rgba(253,187,45,1)',
        'rgb(6, 184, 190)',
        'rgb(190, 18, 6)',
        'rgb(196, 87, 15)',
        'rgb(75, 153, 255)',
    ];

    const number = parseInt(username.slice(0,1), 36) - 9;
    const decimal = (number / 26).toFixed(1);
    const index = Math.round(decimal * 4);
    const color = colors[index];

</script>

<svelte:head>
	<title>Typereel | A repository of type in the real world</title>
</svelte:head>

<main class="text-center mt-10">

    {#if errorMessage}
        <div class="text-center"><strong>Hmmm...</strong></div>
        <div class="text-center">{ errorMessage }</div>
    {:else}
        <div class="container mx-auto">
            <div class="content border rounded p-20">
                <div class="flex justify-center">
                    <Avatar size="xl" initials="{initials}" class="text-white mb-5" style="background: linear-gradient(0deg, rgb(99, 0, 255) 0%, {color} 100%);" />
                </div>
                <h1 class="mb-5 font-display">{username}</h1>
                <p class="font-display"><strong>Typereel sleuth</strong></p>
                {#if identifiedCount === 0}
                    <p>No successfully identified specimens...yet!</p>
                {:else}
                    <p>Successfully identified <strong>{ identifiedCount }</strong> specimens</p>
                {/if}
            </div>
        </div>
    {/if}
</main>
