<script>

    export let data;

    let {
        font,
    	user,
    	returnToUrl,
    	errorMessage,
    	attributes,
    	role,
    } = data;

	let numberOfAttributes = 1;
	let numberOfVendors = 1;
	let characterTraits = [];
	let fieldErrors = {};
	let characters = Object.keys(attributes);

    $: fontCharacters = attributes.characters;
    $: fontVendors = font.data.vendors;

	function addAttribute() {
		const charactersArray = fontCharacters;
        charactersArray.push({
            name: "",
            attributes: []
        });

        fontCharacters = charactersArray;
	}

	function addVendor() {
		const vendors = fontVendors;
        vendors.push({
            name: "",
            url: ""
        });

        fontVendors = vendors;
	}

	function setCharacterTraits(event) {
		const index = event.target.dataset.index;
		if (attributes && attributes[event.target.value].length) {
			characterTraits[index] = attributes[event.target.value];
		}
	}

	function submitForm(event) {
		// Some basic form validation
		// Get the required fields
		const fields = [...event.target.querySelectorAll('.required')];

		// Get fields with no value set
		const invalidFields = fields.filter((field) => {
			return field.value == '';
		});

		// Set errors for invalid fields
		invalidFields.forEach((field) => {
			fieldErrors[field.id] = 'This is a required field';
		});

		// If all fields are filled, submit
		if (!invalidFields.length) {
			event.target.submit();
		}
	}
</script>

<svelte:head>
	<title>Typereel | Submit a font</title>
</svelte:head>

<div class="navbar bg-primary p-20">
    <div class="navbar-content">
    	<a href="/" class="text-white">&lsaquo; Back to the reel</a>
    </div>
</div>

<div class="container-slim mt-50 mb-50">

    <h1 class="font-size-24 font-weight-bold text-center">Submit a font</h1>

	<form action="/fonts/edit" method="post" on:submit|preventDefault={submitForm}>
		<div class="form-group">
			<label for="name">Font name</label>
			<input type="text" name="name" class="form-control" id="name" value="{font.data.name}" />
			<div class="error">
				{#if fieldErrors['name']}
					{fieldErrors['name']}
				{/if}
			</div>
		</div>

		<div class="form-group">
			<label for="url">URL</label>
			<input type="text" name="url" id="url" class="form-control" value="{font.data.url}" />
            <small>A link to where the font can be viewed online</small>
			<div class="error">
				{#if fieldErrors['url']}
					{fieldErrors['url']}
				{/if}
			</div>
		</div>

		<div class="form-group">
			<label for="foundry">Foundry</label>
			<input type="text" name="foundry" id="foundry" class="form-control" value="{font.data.foundry}" />
			<div class="error">
				{#if fieldErrors['foundry']}
					{fieldErrors['foundry']}
				{/if}
			</div>
		</div>

		<div class="form-group">
			<label for="title">Foundry website</label>
			<input type="text" name="foundry_url" id="foundry_url" class="form-control" value="{font.data.foundry_url}" />
			<div class="error">
				{#if fieldErrors['foundry_url']}
					{fieldErrors['foundry_url']}
				{/if}
			</div>
		</div>

		<h4 class="font-size-20 mt-40">Font Vendors</h4>

		{#each fontVendors as vendor, index}
			<div class="form-group">
				<label for="vendor-{index}-name">Vendor Name</label>
				<input type="text" name="vendor_names" id="vendor-{index}-name" class="form-control" placeholder="e.g. MyFonts" value="{vendor.name}" />
				<div class="error">
					{#if fieldErrors[`vendor-${index}-name`]}
						{fieldErrors[`vendor-${index}-name`]}
					{/if}
				</div>
			</div>

			<div class="form-group">
				<label for="vendor-{index}-url">Vendor URL</label>
				<input type="text" name="vendor_urls" id="vendor-{index}-url" class="form-control" value="{vendor.url}" />
				<div class="error">
					{#if fieldErrors[`vendor-${index}-url`]}
						{fieldErrors[`vendor-${index}-url`]}
					{/if}
				</div>
			</div>
		{/each}
		<button type="button" on:click={addVendor} class="btn btn-sm btn-secondary">Add a vendor</button>

		<h4 class="font-size-20 mt-40">Character Attributes</h4>

        {#if fontCharacters}
    		<div class="attribute-fields">
    			{#each fontCharacters as fontCharacter, index}
                    {#if !fontCharacter.attributes.length}
                        <div class="attribute-group">
        					<div class="form-group">
        					    <label for="attributes-{index}-character">Character</label>
                                <select
            						name="characters"
            						id="attributes-{index}-character"
            						data-index={index}
            						on:change={setCharacterTraits}
            						class="form-control"
            					>
            						<option value="">Select a character</option>
            						{#each characters as character}
            							<option
                                            value={character}
                                        >
                                            {character}
                                        </option>
            						{/each}
            					</select>
                            </div>
                        </div>
                    {/if}
                    {#if characterTraits[index]}
    					<div class="_spaced-b-med">
    						<label for="attributes-{index}-character-trait">Character Trait</label>
    						<select
    							name="attributes"
    							id="attributes-{index}-character-trait"
    							class="required"
    							value=""
    						>
    							<option value="">Select a trait</option>
    							{#each characterTraits[index] as trait}
    								<option
                                        value={trait}
                                    >
                                        {trait}
                                    </option>
    							{/each}
    						</select>
    					</div>
    				{/if }
                    {#each fontCharacter.attributes as attribute}
                        <div class="attribute-group">
        					<div class="form-group">
        						<label for="attributes-{index}-character">Character</label>
        						<select
        							name="characters"
        							id="attributes-{index}-character"
        							data-index={index}
        							on:change={setCharacterTraits}
        							class="form-control"
        						>
        							<option value="">Select a character</option>
        							{#each characters as character}
        								<option
                                            value={character}   
                                            selected="{character == fontCharacter.name ? 'selected' : ''}"
                                        >
                                            {character}
                                        </option>
        							{/each}
        						</select>
        					</div>
        					<div class="error">
        						{#if fieldErrors[`attributes-${index}-character`]}
        							{fieldErrors[`attributes-${index}-character`]}
        						{/if}
        					</div>
        					{#if characterTraits[index]}
        						<div class="_spaced-b-med">
        							<label for="attributes-{index}-character-trait">Character Trait</label>
        							<select
        								name="attributes"
        								id="attributes-{index}-character-trait"
        								class="required"
        								value=""
        							>
        								<option value="">Select a trait</option>
        								{#each characterTraits[index] as trait}
        									<option
                                                value={trait}
                                            >
                                                {trait}
                                            </option>
        								{/each}
        							</select>
        						</div>
        					{:else if attribute }
                                <div class="_spaced-b-med">
        							<label for="attributes-{index}-character-trait">Character Trait</label>
        							<select
        								name="attributes"
        								id="attributes-{index}-character-trait"
        								class="required"
        							>
        								<option value="">Select a trait</option>
        								{#each attributes[fontCharacter.name] as trait}
        									<option
                                                value={trait}
                                                selected={trait == attribute ? 'selected' : ''}
                                                data-thing="{attribute}"
                                                data-things="{trait}"
                                            >
                                                {trait}
                                            </option>
        								{/each}
        							</select>
        						</div>
        					{/if}
        				</div>
        				<div class="error">
        					{#if fieldErrors[`attributes-${index}-character-trait`]}
        						{fieldErrors[`attributes-${index}-character-trait`]}
        					{/if}
        				</div>
                    {/each}
    			{/each}
    		</div>
        {/if}

		<button type="button" on:click={addAttribute} class="btn btn-sm btn-secondary">Add a character trait</button>

        <div class="mt-40">
    		<button class="btn btn-primary">Submit</button>
        </div>
	</form>
</div>

<style>
	.error {
		color: #ff0000;
		font-size: 0.8rem;
	}
</style>

