<script>
    export let data;
    import NavMain from '$lib/components/NavMain.svelte';
    import Footer from '$lib/components/Footer.svelte';
	let font = data.font;
	let user = data.user;
	let returnToUrl = data.returnToUrl;
	let errorMessage = data.errorMessage;
</script>

<svelte:head>
	<title>Typereel | {font.data.name}</title>
</svelte:head>

<div class="ui-layout -hero-plus-nav">
	<NavMain {user} {returnToUrl} />
	<main class="text-center mt-50">

        {#if errorMessage}
            <div class="text-center"><strong>Hmmm...</strong></div>
            <div class="text-center">{ errorMessage }</div>
        {:else}
            <div class="container-slim">
                <div class="content border rounded p-20">
                    <h1>{font.data.name}</h1>
                    <div class="text-align-center">
                        <a href="/specimens?fonts={encodeURI(font.data.name)}" rel="external">View specimens</a>
                    </div>
                </div>
            </div>
        {/if}
	</main>
</div>

