<svelte:head>
	<title>Typereel | Inspiration</title>
</svelte:head>

<script>

    import Reel from '$lib/components/Reel.svelte';
    import Pagination from '$lib/components/Pagination.svelte';

    export let data;

	let {
        specimens,
	    currentPageNumber,
	    pageTotal,
	    paginationPageTotal,
	    queryString,
	    collectionCount,
	    identifiedCount
    } = data;

    let params = new URLSearchParams(queryString);
    let view = params.get("view");
</script>

<main>
	<Reel reelData={specimens} page="inspiration" {collectionCount} {identifiedCount} {currentPageNumber} {view} />
    {#if pageTotal > 1 }
		<Pagination {paginationPageTotal} currentPageNumber={Number(currentPageNumber)} specimenTotal={collectionCount} {queryString} context="inspiration" />
    {/if}
</main>


