<script>
    import { Button } from 'stwui';
</script>

<svelte:head>
  <title>Thanks | Typereel</title>
</svelte:head>

<div class="container mx-auto mt-10 text-center">

  <h1 class="mb-10">Thanks for uploading to Typereel</h1>

  <p class="mb-10">May you find your worth in the waking world.</p>

  <Button href="/specimens" type="primary">View your specimen on the reel</Button>

</div>
