<script>
	import ResetPasswordForm from '$lib/components/ResetPasswordForm.svelte';

	let error;

	async function handleSubmit({ detail: { email } }) {
		const response = await fetch('/user/reset/send', {
			method: 'POST',
			body: JSON.stringify({ email }),
			headers: {
				'Content-Type': 'application/json'
			}
		});

		if (!response.ok) {
			error = (await response.json()).message;
			return;
		}

		window.location = '/reset-sent';
	}
</script>

<div class="container mx-auto mt-10 mb-10 max-w-[500px]">
	<h1 class="mb-10 text-center">Reset your password</h1>

	<div class="text-center">
		Let us know the email address associated with your Typereel account and we'll send you an email with instructions on resetting your password.
	</div>

	{#if error}
		<div class="message">{error}</div>
	{/if}
</div>

<div class="container mx-auto mt-10 mb-10 max-w-[400px]">
	<ResetPasswordForm on:submit={handleSubmit} />
</div>
