<script>
    import { Alert } from 'stwui';
	import RegisterForm from '$lib/components/RegisterForm.svelte';
    
    export let data;

    let { returnToUrl } = data;

	let error;
    
    let loading = false;

	async function handleSubmit({ detail: { username, email, password } }) {
        loading = true;
        const token = document.querySelector('#token').value;
		const response = await fetch('/user/register', {
			method: 'POST',
			body: JSON.stringify({ username, email, password, token }),
			headers: {
				'Content-Type': 'application/json'
			}
		});

		if (!response.ok) {
			error = (await response.json()).message;
            loading = false;
			return;
		}

		window.location = returnToUrl || '/verify';
	}
</script>

<svelte:head>
	<title>Typereel | Register</title>
</svelte:head>

<div class="container mx-auto mt-10 max-w-[600px]">
	<h1 class="text-center mb-10">Register</h1>

	<div class="text-center">
		<p>Register on Typereel to comment, contribute specimens and help to identify type.</p>
		<p>
			As it stands, Typereel is in public beta and has a limited feature set. I'd love to know what
			features you think might be useful, or whether existing features can be improved. Feel free to
			post feedback <a
				href="https://feedback.userreport.com/8061712f-1dd3-41b4-a798-01c14ddb3e43/#ideas/popular"
				target="_blank" rel="noreferrer">here</a
			> any time!
		</p>
	</div>
</div>
<div class="container mx-auto mt-10 max-w-[400px]">
	{#if error}
        <Alert type="warn" class="w-full">
            <Alert.Title slot="title">{error}</Alert.Title>
        </Alert>
	{/if}
	<RegisterForm on:submit={handleSubmit} {loading} />
</div>
