/* TODO tidy this up in favour of more specific classes below */
._padded {
	padding: 2rem;
}
._padded-min {
	padding: 1rem;
}
._padded-med {
	padding: 2rem;
}
._padded-max {
	padding: 4rem;
}
._padded-lr-min {
	padding-left: 1rem;
	padding-right: 1rem;
}
._padded-lr-med {
	padding-left: 2rem;
	padding-right: 2rem;
}
._padded-lr-max {
	padding-left: 4rem;
	padding-right: 4rem;
}
._padded-t-min {
	padding-top: 1rem;
}
._padded-t-med {
	padding-top: 2rem;
}
._padded-t-max {
	padding-top: 4rem;
}
._padded-tb-min {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
._padded-tb-med {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
._padded-tb-max {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

._padded-mob {
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (min-width: 500px) {
	._padded-mob {
		padding-left: 0;
		padding-right: 0;
	}
}

._padded-min > h3:first-child {
	margin-top: 0;
}
._padded > h1:first-child {
	margin-top: 0;
}

/* TODO Should think about the right way to handle this */
._padded p:first-child {
	margin-top: 0;
}
._padded p:last-child {
	margin-bottom: 0;
}
._spaced-max {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
._spaced-med {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
._spaced-min {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
._spaced-t-max {
	margin-top: 4rem;
}
._spaced-t-med {
	margin-top: 2rem;
}
._spaced-t-min {
	margin-top: 1rem;
}
._spaced-b-max {
	margin-bottom: 3rem;
}
._spaced-b-med {
	margin-bottom: 1rem;
}
._spaced-b-min {
	margin-bottom: 0.5rem;
}
._spaced-tb-max {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
._spaced-tb-med {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
._spaced-tb-min {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
/* Kinda goes against my usual practice. Potentially revise. */
@media (max-width: 500px) {
	._spaced-m-max {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	._spaced-m-med {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	._spaced-m-min {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

._text-center {
	text-align: center;
}
._text-right {
	text-align: right;
}
._slight {
	font-size: 0.8rem;
}
._emphasized {
	font-size: 1.2rem;
}
._sr-only {
    display: none;
}