/* COLOURS */

:root {
	--body-font: 'LatoRegular';
	--body-font-bold: 'LatoBold';
	--body-font-black: 'LatoBlack';
	--primary: hsl(263, 100%, 50%);
	--brand: hsl(263, 100%, 50%);
	--brand-dark: hsl(263, 100%, 40%);

	--border-radius-small: 2px;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	font-family: var(--body-font), sans-serif;
	font-weight: 400;
	line-height: 1.7;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	font-size: 16px;
}

h1,
h2 {
	font-family: var(--body-font-black);
	line-height: 1.2;
}

img {
	max-width: 100%;
	height: auto;
}
a {
	color: var(--primary);
}

a:focus {
	outline: 1px dotted var(--primary);
	outline-offset: -1px;
}
a.ui-button:focus {
	outline: 2px dotted var(--primary);
}

.grid {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.grid-col {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.edge {
	background: transparent url(/images/edge.svg) repeat-x 0 100%;
	background-size: 20px 20px;
	position: relative;
	width: 100%;
	height: 20px;
	top: 20px;
	z-index: 1000;
}

.app-header {
	background: rgb(99, 0, 255);
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
	color: #fff;
}

.app-header a {
	color: #fff;
}

/* SVG MASK */
#hero-wrapper {
	position: relative;
	max-width: 500px;
	height: 100%;
}
#hero-mask {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.2s linear;
	width: 100%;
    height: auto;
}
#hero-mask.-active {
	opacity: 0.5;
}

.logo a, .logo img {
    display: block;
}