<script>

	import NavMain from '$lib/components/NavMain.svelte';
	import Footer from '$lib/components/Footer.svelte';
	import Pagination from '$lib/components/Pagination.svelte';
	import Reel from '$lib/components/Reel.svelte';

	export let data;

    let {
        currentPageNumber,
        user,
        returnToUrl,
        specimens,
        pageTotal,
        paginationPageTotal
    } = data;
</script>

<svelte:head>
	<title>Typereel | Specimens page {currentPageNumber}</title>
</svelte:head>

<div>
	<NavMain {user} {returnToUrl} />
	<main>
		<div class="content">
    		<div class="edge mt-20"></div>
    		<div class="container">
				<Reel reelData={specimens} page={currentPageNumber} />
    		</div>
		</div>
	</main>
	<Pagination {paginationPageTotal} {currentPageNumber} {pageTotal} context="specimens" />
	<Footer />
</div>
