<script>
	import '../../app.postcss';
	import { Layout, Button } from 'stwui';
    import Footer from '$lib/components/Footer.svelte';

</script>

<Layout>
	<Layout.Header class="bg-primary max-h-none static z-0 shadow-none py-6">
        <div class="px-6">
        	<Button type="primary" href="/specimens" class="bg-indigo-950 text-white hover:text-white">Back to the reel</Button>
        </div>
	</Layout.Header>
	<Layout.Content>
		<Layout.Content.Body>
			<slot />
		</Layout.Content.Body>
	</Layout.Content>
    <Footer />
</Layout>
