<script>
	import Showcase from '$lib/components/Showcase.svelte';
	import CommentThread from '$lib/components/CommentThread.svelte';
	import Modal from '$lib/components/Modal.svelte';

	export let data;

	let {
        specimen,
        returnToUrl
    } = data;

    let open = false;
    let modalContent;
    let modalTitle;

	function toggleModal(event) {
		open = !open;
		if (event.detail) {
			modalTitle = event.detail.title;
			modalContent = event.detail.content;
		}
	}
</script>

<svelte:head>
	{#if specimen.name}
		<title>Typereel | {specimen.name}</title>
	{:else}
		<title>Typereel | An unknown specimen of type</title>
	{/if}
</svelte:head>

<Showcase {specimen} context="specimen" />
<CommentThread {specimen} context="specimen" user={data.user} on:fireModal={toggleModal} {returnToUrl} />
<Modal {open} {modalContent} {modalTitle} on:fireModal={toggleModal} />
