
<div class="container mx-auto max-w-2xl mt-10 leading-8">
    <h1 class="text-center mb-20">Typereel: The story so far</h1>

    <p>In 2016, on a day like any other, I was trawling the forums of a site I'd begun to use quite regularly for their font identification topics: <a href="https://typophile.com">typophile.com</a> (it has since been taken down). I found visiting the forums to be a surprisingly fruitful means of discovering fonts previously unknown to me. I sheepishly contributed to identifying a request, once or twice.</p>
        
    <p>On discovering a font I liked or considered useful for future projects, I'd file it away using my browser bookmark manager in to appropriately named directories for 'Serif', 'Sans-serif', 'Display' etc. The problem was that as this collection of bookmarks grew, I had no way of remembering which was which, other than to use written descriptions. "Wouldn't it be useful...", I thought, "if there was a way to visually browse the fonts I'd saved."</p>

    <p>I've been known to say that 'hobbies', at least in a traditional sense, have faded from the public consciousness. That's probably not true, though. Stamp or coin collecting, birdwatching, model making, woodworking; these are all activities I think of when </p>
</div>