/* Write your global styles here, in PostCSS syntax */
@import url(https://fonts.bunny.net/css?family=open-sans:400,600|work-sans:400,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --border: hsl(0, 0, 20%);
} */

@layer base {
	html {
		@apply text-gray-700;
	}

	p {
		@apply mb-5;
	}

	a:not(.btn):not([class^='text-']) {
		@apply text-primary;
	}

	a:not(.btn) {
		@apply underline;
	}

	input[type='text'],
	input[type='email'],
    input[name='comment'],
    button[aria-label='toggle select'] {
		@apply border-gray-400;
	}

    /*
        Hides the suggestion list for
        Autocomplete
   */
    .no-options ul[role="listbox"] {
        display: none;
    }

    .container {
        @apply px-4;
    }
}
