<script>
    export let username;

    let colors = [
        'rgba(253,187,45,1)',
        'rgb(6, 184, 190)',
        'rgb(190, 18, 6)',
        'rgb(196, 87, 15)',
        'rgb(75, 153, 255)',
    ];

    const number = parseInt(username.slice(0,1), 36) - 9;
    const decimal = (number / 26).toFixed(1);
    const index = Math.round(decimal * 4);
    const color = colors[index];

</script>

<style>
    .ui-avatar {
        background: rgb(99, 0, 255);
    }
</style>

<div class="w-50 h-50 rounded-circle d-flex justify-content-center align-items-center text-white font-size-18" style="background: linear-gradient(0deg, rgb(99, 0, 255) 0%, {color} 100%);">
    <span class="d-none">Avatar for {username}</span>
    <div class="">{username.slice(0,1)}</div>
</div>