<script>
	export let type = 'button';
	export let loading = false;
</script>

<button {type} class="btn btn-primary d-flex align-items-center {loading ? '-loading' : ''}">
	<span class="d-inline-block mr-5">
        <slot />
    </span>
	<svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="spinner">
		<path fill="none" d="M0 0h24v24H0z" />
        <path
			class="spinner-path"
			d="M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364z"
		/>
    </svg>
</button>
