<script>

    import { Button } from 'stwui';

	export let specimen;
	export let commentText = '';
	export let node;
	export let context;

    const collection_name = context == 'feature' ? 'inspiration' : 'specimens';

    let textBeforeDelete = '';
	let mentions = [];
	$: mentionList = mentions.join(',');
    $: commentTextArray = commentText.split(' ');

    function storeDeletion(event) {
        if (event.keyCode != 8) {
            return;
        }
        textBeforeDelete = event.target.innerText;
    }

	async function checkMentions(event) {
		if (event.keyCode == 32) {
			const commentTextArray = commentText.split(' ');
			const prevWord = commentTextArray[commentTextArray.length - 2];
			if (prevWord != '@' && prevWord.includes('@')) {
                
                const username = prevWord.split('@')[1];

                if (mentions.includes(username)) {
                    return;
                }

				// Deselect editable content
				window.getSelection().removeAllRanges();
				// Get the username
				await getUsername(username)
					.then((user) => {
						if (!user.data) {
							return;
						}
						// replace text
						
						commentText = commentText.replace(
							prevWord,
							`<a href="/user/${user.data.username}" data-mention="${user.data.username}">${prevWord}</a>&nbsp;`
						);

						// Add the username to a hidden field
                        mentions = [...mentions, user.data.username];
					})
					.then(() => {
						// set selection position to end
						let range = document.createRange(); //Create a range (a range is a like the selection but invisible)
						range.selectNodeContents(node); //Select the entire contents of the element with the range
						range.collapse(false); //collapse the range to the end point. false means collapse to end rather than the start
						let selection = window.getSelection(); //get the selection object (allows you to change selection)
						selection.removeAllRanges(); //remove any selections already made
						selection.addRange(range); //make the range you have just created the visible selection
					})
					.catch((err) => {
						console.log(err);
					});
			}
		}
		if (event.keyCode == 8) {
            // If a mention is edited, remove it
            const node = document.getSelection().anchorNode;
            const parentNode = node.parentNode;
            if (parentNode.getAttribute('data-mention')) {
               const mention = parentNode.getAttribute('data-mention');
               mentions = mentions.filter((string) => {
					return string != mention;
				});
               parentNode.remove();
            }
            // If a mention is deleted, remove it
            const deletedText = textBeforeDelete.replace(event.target.innerText.trim(), '');
            if (textBeforeDelete.includes(event.target.innerText.trim())) {
            }
            for (const mentionUser of mentions) {
                if (deletedText.includes(`@${mentionUser}`)) {
                    mentions = mentions.filter((string) => {
    				    return string != mentionUser;
    			    });
                    textBeforeDelete = '';
                }
            }
		}
	}

	async function getUsername(text) {
		try {
			const user = await fetch('/api/users/' + text, {
				headers: {
					Accept: 'application/json',
					'Content-Type': 'application/json'
				},
				method: 'GET'
			});

			return await user.json();
		} catch (err) {
			console.log(err.error);
			return err;
		}
	}
</script>

<div class="content">
	<form action="/comments/add/{collection_name}/{specimen._id}" method="post">
		<div class="form-group">
			<label for="comment" class="block mb-3">Comment</label>
			<textarea name="comment" id="comment" class="hidden" cols="30" rows="10" bind:value={commentText} />
			<div
				contenteditable="true"
				on:keyup={checkMentions}
				on:keydown={storeDeletion}
				bind:this={node}
				bind:innerHTML={commentText}
				class="border border-gray-400 rounded mb-5 p-5"
                id="commentText"
			/>
		</div>
		<div class="">
			<input type="hidden" value={mentionList} name="mentions" />
			<Button type="primary" htmlType="submit">Add Comment</Button>
		</div>
	</form>
</div>


<style>
    #commentText {
        min-height: 200px;
    }
</style>