<script>
    import { Card, Toggle, ButtonGroup } from 'stwui';
	import CommentForm from './CommentForm.svelte';
	import SuggestionForm from './SuggestionForm.svelte';
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
	export let specimen;
	export let context;
	export let user;
	export let activeTab = 'comment',
		specimenId = specimen._id,
		subscribers = specimen.subscribers ? specimen.subscribers : false,
		returnToUrl,
		userIsSubscribed = user ? subscribers.includes(user.username) : false;

	function switchTab(event) {
		if (event.target.getAttribute('active') == 'true') return;
		if (activeTab == 'comment') {
			activeTab = 'suggestion';
		} else {
			activeTab = 'comment';
		}
	}

	async function handleSubscribe(event) {

        if (event.keyCode && event.keyCode != 13) {
            return;
        }

        if (!user) {
			dispatch(
				'fireModal',
				{
                    title: `Sign up for notifications`,
                    content: `<a href="/register?referrer=${returnToUrl}">Register</a> or <a href="/login?referrer=${returnToUrl}">login</a> to add specimens, comments and suggestions.`
                }
			);
            userIsSubscribed = false;
		} else {
			try {
				const subscriber = await fetch(`/${context}/subscriber/toggle`, {
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						specimen: specimenId,
                        subscribed: !userIsSubscribed
					}),
					method: 'POST'
				});
			} catch (err) {
                userIsSubscribed = !userIsSubscribed;
				console.log(err);
				return err;
                
			}

		}
	}
</script>

<div class="container mt-10 mx-auto max-w-xl">
	<h2 class="text-center mb-10">Comments</h2>

	<div class="flex align-center justify-center mb-10" on:click={handleSubscribe} on:keypress={handleSubscribe}>

        <Toggle name="toggle" bind:on={userIsSubscribed}>
           <Toggle.ContentLeft slot="content-left">
              <Toggle.ContentLeft.Label slot="label">Get notified of updates</Toggle.ContentLeft.Label>
           </Toggle.ContentLeft>
        </Toggle>
        
	</div>

	{#if specimen.comments && specimen.comments.length}
		{#each specimen.comments as comment, index}
			{#if comment.type == 'hand'}
				<Card class="card p-5 mb-5 text-center" elevation="none">
					<strong><a href="/user/{comment.user}">{comment.user}</a></strong> suggested this contains hand lettering
				</Card>
			{:else if comment.type == 'similar'}
				<Card class="card p-5 mb-5 text-center" elevation="none">
					<strong><a href="/user/{comment.user}">{comment.user}</a></strong> suggested this is similar to
					<a href={comment.url} target="_blank" rel="noreferrer">{comment.body}</a>
				</Card>
			{:else if comment.type == 'match'}
				<Card class="card p-5 mb-5 text-center bg-light" elevation="none">
					<strong><a href="/user/{comment.user}">{comment.user}</a></strong> suggested this could be
					<a href={comment.url} target="_blank" rel="noreferrer">{comment.body}</a>
				</Card>
			{:else if comment.type == 'font'}
				<Card class="p-5 mb-5 text-center bg-gray-700 text-white" elevation="none">
					<strong><a href="/user/{comment.user}" class="text-white">{comment.user}</a></strong> identified this as
					<a href={comment.url} target="_blank" rel="noreferrer" class="text-white">{comment.body}</a>
				</Card>
			{:else}
				<div class="content py-10 mb-5 mt-0 border-top {specimen.comments.length - 1 == index ? 'border-bottom mb-20' : '' }">
					<div class="mb-5">
						<strong><a href="/user/{comment.user}">{comment.user}</a> says:</strong>
					</div>
					{@html comment.body}
				</div>
			{/if}
		{/each}
	{:else}
		<div class="text-center mb-10">There are no comments yet...</div>
	{/if}

	{#if specimen.name == 'Handwritten'}
		<div class="comment -font _padded _spaced-min _text-center">
			<strong>simon</strong> identified this as handwritten type
		</div>
	{/if}

	{#if user && context == 'specimen'}
    
		<div class="flex justify-center mt-10">
            <ButtonGroup>
               <ButtonGroup.Button on:click={(event) => switchTab(event)} active={activeTab === 'comment'}>
                  Comment
               </ButtonGroup.Button>
               <ButtonGroup.Button on:click={(event) => switchTab(event)} active={activeTab === 'suggestion'}>
                  Make a suggestion
               </ButtonGroup.Button>
            </ButtonGroup>
		</div>

		<div class="my-10 {activeTab === 'comment' ? 'block' : 'hidden'}">
			<CommentForm {specimen} {context} />
		</div>

		<div class="tab-section {activeTab === 'suggestion' ? 'block' : 'hidden'}">
			<SuggestionForm {specimen} {context} />
		</div>
	{:else if user && context == 'feature'}
		<CommentForm {specimen} {context} />
	{:else}
		<div class="text-center mt-10 mb-20">
			<a href="/register{returnToUrl ? '?referrer=' + returnToUrl : ''}">Register</a> or
			<a href="/login{returnToUrl ? '?referrer=' + returnToUrl : ''}">login</a> to comment
		</div>
	{/if}
</div>
