<script>
  export let value = '';
  export let id;
  export let label;
  export let type = 'text';
  export let name;
  export let required = false;

  export let inputRef = null;

  function setType(node) {
    node.type = type;
  }
</script>



<div class='{$$props.class} label-{type}'>
    {#if type != 'checkbox'}
        <label for="{id}">
            {@html label}
        </label>
    {/if}
    <input
      use:setType
      {name}
      {id}
      {required}
      bind:value
      bind:this={inputRef}
      class="form-control"
    />
    {#if type == 'checkbox'}
        <label for="{id}">
            {@html label}
        </label>
    {/if}
</div>
