<script>
  import { Input, Button } from 'stwui';
  import { createEventDispatcher } from 'svelte';

  let email = '';
  let password = '';

  const dispatch = createEventDispatcher();

  function submit() {
    dispatch('submit', {
        email,
        password
    })
  }
</script>

<form on:submit|preventDefault={submit}>
    <Input name="email" type="email" bind:value={email} required>
    	<Input.Label slot="label">Email</Input.Label>
    </Input>
    <Input name="password" type="password" bind:value={password} required class="mt-5">
    	<Input.Label slot="label">Password</Input.Label>
    </Input>

  <div class="mt-3"><small>Forgotten you password? <a href="/reset">Reset password</a>.</small></div>
  <div class="mt-10">
      <Button type='primary' htmlType="submit" class="w-full">Login</Button>
  </div>
</form>