<script>
	import { Modal, Portal, Card } from 'stwui';
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	export let open = false,
		       modalContent,
		       modalTitle;

	function openModal() {
		open = true;
	}

	function closeModal() {
		open = false;
        dispatch('fireModal');
	}
</script>

<Portal>
	{#if open}
		<Modal handleClose={closeModal}>
			<Modal.Content slot="content">
				<Modal.Content.Header slot="header">{@html modalTitle}</Modal.Content.Header>
				<Modal.Content.Body slot="body">
                    {@html modalContent}
                </Modal.Content.Body>
			</Modal.Content>
		</Modal>
	{/if}
</Portal>