<script>
	export let returnToUrl;
	export let user;

	function toggleMenu() {
		const nav = document.querySelector('#main-nav');
		nav.classList.toggle('-hidden');
	}

    async function logout() {
        await fetch('/user/logout');
        window.location = '/';
    }
</script>

{#if user && user.verified === false}
    <div class="text-center text-white alert alert-primary filled rounded-0">
        We have sent you an email with a verification link. Please verify your email address.
    </div>
{/if}

{#if user}
    <div class="container text-right my-5">
        <div class="content m-10">
            <small>Logged in as {user.username}</small>
        </div>
    </div>
{/if}

<div class="container">

    <nav class="navbar mt-20">

      <a href="/" class="navbar-brand"><img src="/images/logo-header.svg" width="200" height="49" alt="Typereel Logo" /></a>

      <ul class="navbar-nav d-none d-md-flex ml-auto">
        <li class="nav-item"><a href="/submission" class="nav-link">Upload Specimen</a></li>
        <li class="nav-item"><a href="/fonts" class="nav-link">Fonts</a></li>
		<li class="nav-item"><a href="/about" class="nav-link">About Typereel</a></li>
      </ul>

      <div class="navbar-content d-none d-md-flex">
        {#if user}
			<button on:click="{logout}" class="btn btn-primary nav-link">Logout</button>
        {:else}
			<a href="/login{returnToUrl ? '?referrer=' + returnToUrl : ''}" class="btn btn-primary nav-link mr-20">Login</a>
			<a href="/register{returnToUrl ? '?referrer=' + returnToUrl : ''}" class="btn btn-primary nav-link">Register</a>
        {/if}
      </div>

      <div class="navbar-content d-md-none ml-auto">
        <div class="dropdown with-arrow">
          <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
            Menu
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right w-full" aria-labelledby="navbar-dropdown-toggle-btn-1">
            <a href="/submission" class="dropdown-item">Upload Specimen</a>
            <a href="/about" class="dropdown-item">About Typereel</a>
            {#if user}
    			<button on:click="{logout}" class="dropdown-item btn btn-primary nav-link">Logout</button>
            {:else}
    			<a href="/login{returnToUrl ? '?referrer=' + returnToUrl : ''}" class="dropdown-item btn btn-primary nav-link mb-5 w-full">Login</a>
    			<a href="/register{returnToUrl ? '?referrer=' + returnToUrl : ''}" class="dropdown-item btn btn-primary nav-link w-full">Register</a>
            {/if}
          </div>
        </div>
      </div>
    </nav>

</div>
