<script>
    import { Input, Button } from 'stwui';
	const lock = "svg-path";

  import { createEventDispatcher } from 'svelte';

  let password = '';

  const dispatch = createEventDispatcher();

  function submit() {
    dispatch('submit', {
        password
    })
  }
</script>

<form on:submit|preventDefault={submit}>
    <Input type="password" name="password" bind:value={password} showPasswordToggle required>
    	<Input.Label slot="label">Password</Input.Label>
    	<Input.Leading slot="leading" data={lock} />
    </Input>
    <div class="mt-10">
        <Button htmlType='submit' type="primary" class="w-full">Submit</Button>
    </div>
</form>

