<script>

    import { Pagination } from 'stwui';

    export let currentPageNumber;
    export let context;
    export let queryString;
    export let specimenTotal;

	let rowsPerPage = 40;
	let start = 1;
	let end = 40;

    function setPageParam(number) {
        let params = new URLSearchParams(queryString);
        params.set('page', number);
        return params.toString();
    }

	function calculateStartAndEnd() {
		start = currentPageNumber * rowsPerPage - rowsPerPage + 1;
		end = start + (rowsPerPage - 1) > specimenTotal ? specimenTotal : start + (rowsPerPage - 1);
	}

    calculateStartAndEnd();

	function onPreviousClick() {
		window.location = `/${context}?${setPageParam(currentPageNumber - 1)}`;
	}

	function onNextClick() {
		window.location = `/${context}?${setPageParam(currentPageNumber + 1)}`;
	}

	function onPageClick(page) {
	    window.location = `/${context}?${setPageParam(page)}`;
	}

</script>

<div class="mt-10">
    <Pagination
        {start}
    	{end}
    	total={specimenTotal}
    	pageSize={rowsPerPage}
    	currentPage={currentPageNumber}
    	{onNextClick}
    	{onPageClick}
    	{onPreviousClick}
        class="px-0"
    />
</div>

  