<script>
	import { onMount } from 'svelte';
	import SpecimenStateBar from './SpecimenStateBar.svelte';
    import { Row, Col, Dropdown, Button, Badge } from 'stwui';
    
	export let reelData;
    export let collectionCount;
    export let identifiedCount;
    export let currentPageNumber;
    export let view;
    export let fontView;
    export let page;
    let identifiedPercentage = Math.floor((identifiedCount / collectionCount) * 100);
	let numColumns = 1;
    let reelColumns = [];
	let screenIsXLarge;
	let screenIsLarge;
	let screenIsMedium;

    let reelSpacing = page == 'inspiration' ? '0' : '3';

    const icons = {
        unidentified: '<svg class="fill-danger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-7v2h2v-2h-2zm2-1.645A3.502 3.502 0 0 0 12 6.5a3.501 3.501 0 0 0-3.433 2.813l1.962.393A1.5 1.5 0 1 1 12 11.5a1 1 0 0 0-1 1V14h2v-.645z"></path></svg>',
        identified: '<svg class="fill-success" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.997-6l7.07-7.071-1.414-1.414-5.656 5.657-2.829-2.829-1.414 1.414L11.003 16z"></path></svg>',
        filter: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M21 4V6H20L15 13.5V22H9V13.5L4 6H3V4H21ZM6.4037 6L11 12.8944V20H13V12.8944L17.5963 6H6.4037Z"></path></svg>'
    };

	onMount(async () => {

    	screenIsXLarge = window.matchMedia('(min-width: 1281px)');
    	screenIsLarge = window.matchMedia('(min-width: 1025px) and (max-width: 1280px)');
    	screenIsMedium = window.matchMedia('(min-width: 768px) and (max-width: 1024px)');

    	screenIsXLarge.addListener(widthChange);
    	screenIsLarge.addListener(widthChange);
    	screenIsMedium.addListener(widthChange);

    	widthChange();
	});

	function widthChange() {
		if (screenIsXLarge.matches) {
			numColumns = 4;
		} else if (screenIsLarge.matches) {
			numColumns = 4;
		} else if (screenIsMedium.matches) {
			numColumns = 3;
		} else {
			numColumns = 1;
		}
		reelInit();
	}

	async function reelInit() {

        let cols = [];

        for (let i = 0; i < numColumns; i++) {
            cols.push({
                specimens: [],
    			height: 0
            });
        }

    	for (const [index, specimen] of reelData.entries()) {
    		if (specimen.image.height && specimen.image.height > 0) {
    			const shortestColumn = getShortestColumn(cols);
    			let scale = specimen.image.width / 360;
    			let realHeight = specimen.image.height / scale;
    			specimen.index = index;
    			specimen.realHeight = realHeight;
    			cols[shortestColumn].specimens.push(specimen);
    			cols[shortestColumn].height += realHeight;
    		}
    	}

        reelColumns = cols;

    }

	function getShortestColumn(cols) {
		let lowestIndex = 0;
		for (let i = 1; i < cols.length; i++) {
			if (cols[i].height < cols[lowestIndex].height) {
				lowestIndex = i;
			}
		}
		return lowestIndex;
	}

    let visible = false;

	function toggleDropdown() {
		visible = !visible;
	}

</script>

{#if currentPageNumber == 1}
    <div class="container text-center mt-10">
        {#if identifiedCount}
           <div><Badge type="success">{ identifiedPercentage }%</Badge> of specimens successfully identified</div>
           <div><small>{ identifiedCount } of { collectionCount }</small></div>
        {:else if view === 'identified'}
            <div><Badge type="success">{ collectionCount }</Badge> identified specimens</div>
        {:else if view === 'unidentified'}
            <div><Badge type="error">{ collectionCount }</Badge> unidentified specimens</div>
        {/if}
    </div>
{/if}

{#if !fontView}
    {#if page != 'inspiration'}
        <div class="container mx-auto">
            <div class="my-5 flex justify-end">
                <Dropdown bind:visible={visible}>
                	<Button slot="trigger" type="link" on:click={toggleDropdown} class="text-primary">
                        <Button.Leading data="{icons.filter}" slot="leading" />
                        Filter{#if view === 'identified'}: Identified{:else if view === 'unidentified'}: Unidentified{/if}
                    </Button>
                	<Dropdown.Items slot="items" placement="bottom" alignment="end">
                		<Button href="/specimens" rel="external" type="ghost" class="w-full justify-start">
            			    None
                		</Button>
                		<Button href="/specimens?view=identified" rel="external" type="ghost" class="w-full justify-between">
            			    Identified
                            <Button.Trailing slot="trailing" data={icons.identified} class="text-success" />
                		</Button>
                		<Button href="/specimens?view=unidentified" rel="external" type="ghost" class="w-full justify-between">
            			    Unidentified
                            <Button.Trailing slot="trailing" data={icons.unidentified} class="text-error" />
                		</Button>
                	</Dropdown.Items>
                </Dropdown>
            </div>
        </div>
    {/if}
{:else}
    <div class="container mx-auto text-center mb-10">
        <h2 class="font-display"><span class="font-normal">Specimens of</span> {fontView}</h2>
    </div>
{/if}

<section>
	<div class="edge"></div>
    <div class="container mx-auto">
    	<Row gutter={[reelSpacing, reelSpacing]}>
    		{#each reelColumns as column, index}
    			<Col class="w-full md:w-[33.3333%] lg:w-[25%] reel-column">
    				{#each column.specimens as specimen}
        				<div class="{ page == 'specimens' ? 'mb-3' : '' }">
    						<a href="/{page == 'inspiration' ? 'feature' : 'specimen'}/{specimen._id}">
    							<img
    								src="https://res.cloudinary.com/typereel/image/upload/f_auto,q_70,w_554/{specimen
    									.image.src}"
    								alt={specimen.name}
    								loading="lazy"
    								width={specimen.image.width}
    								height={specimen.image.height}
    								class="d-block {specimen.image.bordered ? 'specimen--bordered' : ''}"
                                    style="border-color: {specimen.image.average_colour}; background-color: {specimen.image.average_colour};"
    							/>
    						</a>
                            {#if page == 'specimens'}
        						<SpecimenStateBar {specimen} />
                            {/if}
        				</div>
    				{/each}
    			</Col>
    		{/each}
    	</Row>
    </div>
</section>


<style>

.edge {
    background: transparent url(/images/edge.svg) repeat-x 0 100%;
	background-size: 20px 20px;
	position: relative;
	width: 100%;
	height: 20px;
	top: 20px;
	z-index: 5;
}
</style>