<script>
	import { Input, Button, CheckboxGroup, Alert } from 'stwui';
	import { createEventDispatcher, onMount } from 'svelte';

    onMount(() => {
        // Create a hidden field containing timestamp
        const form = document.querySelector('#registration-form');
        if (form) {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.value = Date.now();
            input.name = 'token';
            input.id = 'token';
            form.insertAdjacentElement('afterbegin', input);
        }
    });

	let username = '';
	let email = '';
	let password = '';
	let confirmPassword = '';
	let errors = [];
	let formErrors;
    let termsAccepted = false;

	const dispatch = createEventDispatcher();

	function submit() {
		formErrors = [];

        checkUsername();
        checkPassword();
        checkTerms();

        errors = formErrors;

        if (errors.length) {
            return;
        }

		dispatch('submit', {
			username,
			email,
			password
		});
	}
    
    function checkPassword() {
        // Ensure password fields match
		if (password !== confirmPassword) {
			formErrors.push({
                message: "Passwords do not match"
            });
		}
    }

    function checkUsername() {
        // Ensure only alphanumeric characters are used
        const regex = /^\w+$/;
        const regexTest = regex.test(username);
        if (!regexTest) {
            formErrors.push({
                message: "Username must only contain alphanumeric characters"
            });
        }
    }

    function checkTerms() {
        if (!termsAccepted) {
            formErrors.push({
                message: "Terms and conditions have not been accepted"
            });
        }
    }

    function setTerms(event) {
        termsAccepted = event.target.checked;
    }

</script>

<form on:submit|preventDefault={submit} autocomplete="off" id="registration-form">

    <Input name="username" required class="mt-5" bind:value={username}>
    	<Input.Label slot="label">Username</Input.Label>
    </Input>

    <Input name="email" type="email" required class="mt-5" bind:value={email}>
    	<Input.Label slot="label">Email</Input.Label>
    </Input>

    <Input name="password" type="password" required class="mt-5" bind:value={password}>
    	<Input.Label slot="label">Password</Input.Label>
    </Input>

    <Input name="confirm-password" type="password" required class="mt-5" bind:value={confirmPassword}>
    	<Input.Label slot="label">Confirm password</Input.Label>
    </Input>

    <div on:change={setTerms}>
    	<CheckboxGroup class="mt-10">
    		<CheckboxGroup.Checkbox name="privacy" value="Agree" bind:checked={termsAccepted} class="border-gray-400">
    			<CheckboxGroup.Checkbox.Label slot="label">
                    I agree to Typereel's <a href='/privacy' target='_blank'>Privacy Policy</a>.
                </CheckboxGroup.Checkbox.Label>
    		</CheckboxGroup.Checkbox>
    	</CheckboxGroup>
    </div>

	<CheckboxGroup class="mt-10">
		<CheckboxGroup.Checkbox name="mailing_list" value="Agree" checked={false} class="border-gray-400">
			<CheckboxGroup.Checkbox.Label slot="label">Yes, I'd like to receive email updates</CheckboxGroup.Checkbox.Label>
		</CheckboxGroup.Checkbox>
	</CheckboxGroup>

    {#each errors as error, index}
	    <Alert type="error" class="{ index === 0 ? 'mt-10' : 'mt-3' }">
        	<Alert.Title slot="title">{error.message}</Alert.Title>
        </Alert>
	{/each}

    <div class="mt-10 mb-10">
    	<Button htmlType="submit" type="primary" class="w-full">Register</Button>
    </div>
</form>
