<script>
  import { Input, Button } from 'stwui';

  import { createEventDispatcher } from 'svelte';

  let email = '';

  const dispatch = createEventDispatcher();

  function submit() {
    dispatch('submit', {
        email
    })
  }
</script>

<form on:submit|preventDefault={submit} class="mt-10">
    <Input name="email" type="email" bind:value={email} required>
    	<Input.Label slot="label">Email</Input.Label>
    </Input>
  <div class="mt-10">
      <Button htmlType='submit' type="primary" class="w-full">Send email</Button>
  </div>
</form>