<script>
    import { Button, Row, Col } from 'stwui';

	export let pageData;
</script>

<div class="mt-5 md:px-0">
    <Row align="center" class="md:!-mx-4 lg:!-mx-10">
    	<Col class="col-24 md:col-12 text-left md:!px-4 lg:!px-10 !py-4">
    		<h1 class="mb-8 font-display">{pageData.title}</h1>
            
    		{@html pageData.description}
    		<div class="mt-10">
                <Button href="/inspiration" type="primary" size="xl" class="lg:mr-4 w-full lg:w-auto">Work in the community</Button>
                <Button href="/specimens" type="default" size="xl" class="mt-3 lg:mt-0 w-full lg:w-auto">Type in the wild</Button>
    		</div>
    	</Col>
    	<Col class="col-24 md:col-12 md:px-4 lg:!px-10 !py-4">
        	<img
        		src={pageData.image.src}
        		alt={pageData.image.alt}
        		width={pageData.image.width}
        		height={pageData.image.height}
        	/>
    	</Col>
    </Row>
</div>


