<script>
    import { Row, Col, Card, Button, Badge } from 'stwui';
	import SuggestionTags from './SuggestionTags.svelte';
	import TagList from './TagList.svelte';
	export let specimen;
	export let context;
	export let average_colour = specimen.image.average_colour
		? specimen.image.average_colour
		: '#222';
	let imgUrl = 'https://res.cloudinary.com/typereel/image/upload/';

	let activePath, activePathLock;

	let suggestions = specimen.comments ? specimen.comments.filter((comment) => {
		return comment.type != 'comment' && comment.type != 'text' && comment.type != 'font';
	}) : null;

	let hasSuggestions = suggestions && suggestions.length ? true : false;

	function showSvg(path) {
		if (activePathLock) return;
		activePath = path;
	}

	function hideSvg() {
		if (activePathLock) return;
		activePath = null;
	}

	function toggleActivePathLock(path) {
		if (activePathLock && path === activePath) {
			activePath = null;
			activePathLock = false;
		} else {
			activePath = path;
			activePathLock = true;
		}
	}

	function removeActivePathLock() {
		activePath = null;
		activePathLock = false;
	}
</script>

<Row class="bg-gray-200 items-stretch" align="start">
	<Col class="col-24 md:col-12 relative" id="average-color" style="background-color:{average_colour};">
		<div class="sticky top-0 flex justify-end p-10">
			<div id="hero-wrapper" class="max-w-xl relative">

				{#if context === 'feature'}
					<svg
						class="{activePath ? '-active' : ''} absolute w-full top-0 h-auto opacity-50"
						viewBox="0 0 {specimen.image.width} {specimen.image.height}"
                        width="{specimen.image.width}"
                        height="{specimen.image.height}"
						xmlns="http://www.w3.org/2000/svg"
						fill-rule="evenodd"
						clip-rule="evenodd"
						stroke-linejoin="round"
						stroke-miterlimit="2"
					>
						<path id="mask-path" d={activePath} fill="#000000" />
					</svg>
				{/if}

				<img
					id="hero-img"
					srcset="
                        {imgUrl}f_auto,q_70,w_600/{specimen.image.src} 600w,
                        {imgUrl}f_auto,q_70,w_780/{specimen.image.src} 780w,
                        {imgUrl}f_auto,q_70,w_1080/{specimen.image.src} 1080w
                    "
					src="{imgUrl}f_auto,q_70,w_600/{specimen.image.src}"
                    sizes="
                        (min-width: 769px) 50vw,
                        100vw
                    "
					alt={specimen.name}
					width={specimen.image.width}
					height={specimen.image.height}
				/>
			</div>
		</div>
	</Col>

	<Col class="col-24 md:col-12">
		<div class="p-10 max-w-xl">
			<h1 class="mb-5 font-display">
				{#if specimen.name}
					{specimen.name}
					{#if specimen.name == 'Handwritten'}Type Specimen{/if}
				{:else}Unidentified Specimen{/if}
			</h1>

			{#if context == 'specimen'}
				<p>Uploaded by <a href="/user/{specimen.user}">{specimen.user}</a></p>
			{/if}

			{#if specimen.credit && specimen.credit.length}
				{#each specimen.credit as credit, index}
                    {#if credit.name}
                        <div class="mb-10 flex">
                            {#if credit.type == 'Poster'}
                                Sourced from 
                            {:else if credit.type == 'Illustrator'}
                                Illustration by 
                            {:else if credit.type == 'Publisher'}
                                Published by 
                            {:else if credit.type == 'Designer'}
                                Designed by 
                            {:else if credit.type == 'Photographer'}
                                Photography by 
                            {:else}
                                Image credit: 
                            {/if}
                            {#if credit.url}
                                <div class="flex align-center ml-2">
                                    {#if credit.url.includes('twitter.com')}
                                        <svg class="mr-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"/></svg>
                                    {/if}
                                    <a href={credit.url} target="_blank" rel="noreferrer">
                                        {credit.name}
                                    </a>
                                </div>
                            {:else}
                                {credit.name}
                            {/if}
        				</div>
                    {:else if credit.type == 'Creative Commons'}
                        <div class="mb-10">
        					Image credit: {@html credit.text}
                        </div>
                    {:else if credit.url}
                        <div class="mb-10">
        					<a href={credit.url} target="_blank" rel="noreferrer">Image credit</a>
                        </div>
                    {/if}
				{/each}
			{/if}

			{#if specimen.identified && specimen.identified.length}
				<h3 class="mt-10 mb-5">Type in this image</h3>

				{#each specimen.identified as font, index}
					{#if font.versions && font.versions.length}
						{#each font.versions as version, i}
							<Card
								class="p-5 mb-5 relative {version.level ? 'mt-10' : 'mt-5'}"
                                elevation="none"
								on:mouseenter={() => {
									showSvg(version.mask);
								}}
								on:mouseleave={hideSvg}
							>
                                {#if version.level && version.level == 'closest'}
                                    <Badge class="bg-primary text-white absolute -top-3">Closest match</Badge>
                                {/if}
								<div class="mb-5 flex justify-between">
									<h3 class="my-0">
										{font.name}
										{#if version.class}{version.class}{/if}
										{#if version.weight}{version.weight}{/if}
										{#if version.style}{version.style}{/if}
									</h3>

									{#if context === 'feature'}
										<button
											class="btn btn-link btn-square py-0"
											title="Highlight {font.name}"
											on:click={() => {
												toggleActivePathLock(version.mask);
											}}
										>
											<svg
												class="icon -regular -eye d-block"
												xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24"
												width="24"
												height="24"
												title="Hello"
											>
												{#if activePathLock && activePath === version.mask}
													<path fill="none" d="M0 0h24v24H0z" />
													<path
														d="M1.181 12C2.121 6.88 6.608 3 12 3c5.392 0 9.878
                          3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392
                          0-9.878-3.88-10.819-9zM12 17a5 5 0 1 0 0-10 5 5 0 0 0
                          0 10zm0-2a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
													/>
												{:else if !activePathLock && activePath === version.mask}
													<path fill="none" d="M0 0h24v24H0z" />
													<path
														d="M12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427
                          9-10.819 9-5.392 0-9.878-3.88-10.819-9C2.121 6.88
                          6.608 3 12 3zm0 16a9.005 9.005 0 0 0 8.777-7 9.005
                          9.005 0 0 0-17.554 0A9.005 9.005 0 0 0 12
                          19zm0-2.5a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9zm0-2a2.5
                          2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"
													/>
												{:else}
													<path fill="none" d="M0 0h24v24H0z" />
													<path
														d="M9.342 18.782l-1.931-.518.787-2.939a10.988 10.988 0
                          0 1-3.237-1.872l-2.153 2.154-1.415-1.415
                          2.154-2.153a10.957 10.957 0 0
                          1-2.371-5.07l1.968-.359C3.903 10.812 7.579 14 12
                          14c4.42 0 8.097-3.188 8.856-7.39l1.968.358a10.957
                          10.957 0 0 1-2.37 5.071l2.153 2.153-1.415
                          1.415-2.153-2.154a10.988 10.988 0 0 1-3.237 1.872l.787
                          2.94-1.931.517-.788-2.94a11.072 11.072 0 0 1-3.74
                          0l-.788 2.94z"
													/>
												{/if}
											</svg>
										</button>
									{/if}
								</div>
								<div class="my-3">
									Foundry/Designer:
									{#if specimen.fonts[index].url}
										<a href={specimen.fonts[index].url} target="_blank" rel="noreferrer">
											{specimen.fonts[index].foundry}
										</a>
									{:else}
										{specimen.fonts[index].foundry}
									{/if}
								</div>
								{#if specimen.fonts[index].vendors && specimen.fonts[index].vendors.length}
									<div class="my-3">
										Vendors:
										{#each specimen.fonts[index].vendors as vendor, counter}
											{#if counter != 0},{/if}
											<a href={vendor.url} target="_blank" rel="nofollow">
												{vendor.name}
											</a>
										{/each}
									</div>
								{/if}
                                <div class="mt-5">
                                    <Button type="primary" href="/specimens?fonts={encodeURIComponent(specimen.fonts[index].name)}">View all specimens</Button>
                                </div>
							</Card>
						{/each}
					{:else}
						<Card elevation="none" class="p-5 mb-5">
							<div class="title">
								<h3 class="mt-0 mb-5 border-bottom">{specimen.fonts[index].name}</h3>
							</div>
							<div class="my-3">
								Foundry/Designer:
								{#if specimen.fonts[index].url}
									<a href={specimen.fonts[index].url} target="_blank">
										{specimen.fonts[index].foundry}
									</a>
								{:else}{specimen.fonts[index].foundry}{/if}
							</div>
							{#if specimen.fonts[index].vendors && specimen.fonts[index].vendors.length}
								<div class="my-3">
									Vendors:
									{#each specimen.fonts[index].vendors as vendor, counter}
										{#if counter != 0},{/if}
										<a href={vendor.url} target="_blank" rel="nofollow">
											{vendor.name}
										</a>
									{/each}
								</div>
							{/if}
                            <div class="mt-5">
                                <Button type="primary" href="/specimens?fonts={encodeURIComponent(specimen.fonts[index].name)}">View all specimens</Button>
                            </div>
						</Card>
					{/if}
				{/each}
			{/if}

			{#if context == 'specimen' && hasSuggestions }
				<SuggestionTags comments={specimen.comments} {hasSuggestions} />
			{/if}

			{#if specimen.tags && specimen.tags.length}
				<TagList tags={specimen.tags} {context} />
			{/if}
		</div>
	</Col>
</Row>
