<script>
    import { Icon } from 'stwui';

	export let specimen;
    let status;
	if (specimen.name) {
		status = 'identified';
	} else if (specimen.identified && specimen.identified.length) {
        status = 'partial';
    } else {
		if (specimen.comments && specimen.comments.length) {
			for (let comment of specimen.comments) {
				if (comment.type == 'similar' || comment.type == 'match') {
					status = 'suggestions';
					break;
				}
			}
		}
	}

    const icons = {
        unidentified: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-7v2h2v-2h-2zm2-1.645A3.502 3.502 0 0 0 12 6.5a3.501 3.501 0 0 0-3.433 2.813l1.962.393A1.5 1.5 0 1 1 12 11.5a1 1 0 0 0-1 1V14h2v-.645z"></path></svg>',
        identified: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.997-6l7.07-7.071-1.414-1.414-5.656 5.657-2.829-2.829-1.414 1.414L11.003 16z"></path></svg>',
        suggestions: '<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" style="fill:none"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10ZM6.243 11.686c1.411.375 2.834.7 4.268.976-.581.534-1.545 1.631-2.892 3.292l2.056 1.48c.65-.859 1.405-2.107 2.264-3.744.917 1.579 1.713 2.827 2.386 3.744l2.09-1.48c-1.288-1.579-2.287-2.677-2.995-3.292a21.693 21.693 0 0 0 4.337-.976l-.802-2.473c-1.544.511-2.914 1.068-4.11 1.672.232-1.73.366-3.17.4-4.319H10.72c.011.789.128 2.235.348 4.337-.836-.476-2.177-1.04-4.023-1.69l-.802 2.473Z"/></svg>',
        partial: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"> <path fill="none" d="M0 0h24v24H0z"/> <path d="M7 7V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-4v3.993c0 .556-.449 1.007-1.007 1.007H3.007A1.006 1.006 0 0 1 2 20.993l.003-12.986C2.003 7.451 2.452 7 3.01 7H7zm2 0h6.993C16.549 7 17 7.449 17 8.007V15h3V4H9v3zm-.497 11l5.656-5.657-1.414-1.414-4.242 4.243L6.38 13.05l-1.414 1.414L8.503 18z"/> </svg>'
    };
</script>

<div class="bg-gray-700 p-4">
	{#if status == 'identified'}
        <div class="flex justify-center align-center text-white">
            <div class="text-success mr-3">
                <Icon data={icons.identified} />
            </div>
    		{specimen.name}
        </div>
	{:else if status == 'suggestions'}
        <div class="flex justify-center align-center text-white">
            <div class="mr-3">
                <Icon data={icons.suggestions} />
            </div>
    		Similar
        </div>
	{:else if status == 'partial'}
         <div class="flex justify-center align-center text-white">
            <div class="mr-3">
                <Icon data={icons.partial} />
            </div>
    		Partial
        </div>
	{:else}
        <div class="flex justify-center align-center text-white">
            <div class="text-error mr-3">
                <Icon data={icons.unidentified} />
            </div>
    		Unidentified
        </div>
	{/if}
</div>
