
<div class="bg-dark">
  {#if specimenData.status == 'identified'}
    <div class="meta-bar">
      <svg class="icon -highlight" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.997-6l7.07-7.071-1.414-1.414-5.656 5.657-2.829-2.829-1.414 1.414L11.003 16z"/></svg>
       {specimenData.name}
    </div>
  {:else if specimenData.status == 'suggestions'}
    <div class="meta-bar">
      <svg class="icon -notify" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zM6.243 11.686l.802-2.473c1.846.65 3.187 1.214 4.023 1.69-.22-2.102-.337-3.548-.348-4.337h2.525c-.034 1.149-.168 2.589-.4 4.319 1.196-.604 2.566-1.161 4.11-1.672l.802 2.473a21.708 21.708 0 0 1-4.337.976c.708.615 1.707 1.713 2.995 3.292l-2.09 1.48c-.673-.917-1.469-2.165-2.386-3.744-.859 1.637-1.614 2.885-2.264 3.744l-2.056-1.48c1.347-1.661 2.311-2.758 2.892-3.292a62.69 62.69 0 0 1-4.268-.976z"/></svg>
       Similar
    </div>
  {:else}
    <div class="meta-bar">
      <svg class="icon -warning" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-7v2h2v-2h-2zm2-1.645A3.502 3.502 0 0 0 12 6.5a3.501 3.501 0 0 0-3.433 2.813l1.962.393A1.5 1.5 0 1 1 12 11.5a1 1 0 0 0-1 1V14h2v-.645z"/></svg>
       Unidentified
    </div>
  {/if}
</div>

<script>
  export let specimenData = globalData;
</script>
