<script>
    import { Badge, Button } from 'stwui';
  export let comments;
</script>

<h3 class="mb-3 mt-10">Suggestions</h3>

<div class="flex flex-wrap">

  {#each comments as comment}
    {#if comment.type === 'similar' || comment.type === 'match'}
      <Button type="primary" href={comment.url} class="bg-gray-700 mr-3 mb-3">{comment.body}</Button>
    {/if}
    {#if comment.type === 'hand'}
        <Button type="primary" class="bg-gray-700 text-white mr-3 mb-3">Hand lettering</Button>
    {/if}
  {/each}

</div>
