<script>
	import { CheckboxGroup, Input, RadioGroup, Button, Autocomplete } from 'stwui';
	import debounce from 'lodash/debounce';

	export let specimen;

	let suggestions;
	let referenceUrl = '';

	let inputValue = '';

	const fetchSuggestions = async (event) => {
		inputValue = event.target.value;
		if (inputValue != '') {
			const fonts = await fetch('/api/fonts/search?text=' + inputValue)
				.then((response) => {
					return response.json();
				})
				.catch((err) => {
					console.log(err);
				});
			suggestions = await fonts.data;
		} else {
			suggestions = [];
		}
	};

    function handleSelection(event) {
		referenceUrl = '';

		const suggestion = suggestions.find((suggestion) => {
			return suggestion.name === event.target.innerText;
		});

		if (suggestion && suggestion.vendors && suggestion.vendors.length) {
			referenceUrl = suggestion.vendors[0].url;
		}
    }

   let value = '';
   let options = [];

   const filter = debounce(async(event) => {
            const target = event.target;
            if (target.value.length > 0) {
                await fetchSuggestions(event);
                options = suggestions.map((opt) => opt.name);
            } else if (target.value == '') {
                options = [];
                referenceUrl = '';
            }
        }, 400);

    $: {
        if (value == undefined) {
            options = [];
            referenceUrl = '';
        }
    }

</script>

<div class="content">
	<form
		action="/comments/add/specimens/{specimen._id}"
		method="post"
		enctype="application/x-www-form-urlencoded"
	>
		<CheckboxGroup class="mt-10">
			<CheckboxGroup.Checkbox name="type" value="hand" checked={false} class="border-gray-400">
				<CheckboxGroup.Checkbox.Label slot="label">This specimen contains hand lettering</CheckboxGroup.Checkbox.Label>
			</CheckboxGroup.Checkbox>
		</CheckboxGroup>

		<div class="my-10">- OR -</div>

        <div class="{!options.length ? 'no-options' : ''}">
            <Autocomplete
            	name="comment"
            	bind:value={value}
            	on:keyup={filter}
            	{options}
                allowNonListValue
            >
            	<Autocomplete.Label slot="label">Font name</Autocomplete.Label>
            	<Autocomplete.Options slot="options" on:click={handleSelection}>
            		{#if options.length > 0}
            			{#each options as option}
            				<Autocomplete.Options.Option {option} />
            			{/each}
            		{/if}
            	</Autocomplete.Options>
            </Autocomplete>
        </div>

		<Input
			class="mt-5"
			name="url"
			id="url"
			allowClear
			placeholder="e.g. http://www.myfonts.com/..."
			value={referenceUrl}
		>
			<Input.Label slot="label">Reference URL</Input.Label>
		</Input>

		<div class="mt-10 mb-5">The likeness to this font is...</div>

		<RadioGroup name="type">
			<RadioGroup.Radio value="similar" class="border-gray-400">
				<RadioGroup.Radio.Label slot="label">Similar</RadioGroup.Radio.Label>
			</RadioGroup.Radio>
			<RadioGroup.Radio value="match" class="border-gray-400">
				<RadioGroup.Radio.Label slot="label">Exact</RadioGroup.Radio.Label>
			</RadioGroup.Radio>
		</RadioGroup>

		<div class="form-group mt-10 mb-50">
			<Button type="primary" htmlType="submit">Add Suggestion</Button>
		</div>
	</form>
</div>