<script>
    export let tags;
    export let context;

    let path = context == 'specimen' ? 'specimens' : 'inspiration';
</script>

<h3 class="mb-3 mt-10">Tags</h3>

<div class="flex flex-wrap">
    {#each tags as tag}
        <a href="/{path}?tag={tag}" class="hyperlink-underline mr-3 mb-3">{tag}</a>
    {/each}
</div>