<svelte:head>
	<title>About | Typereel</title>
</svelte:head>

<div class="container max-w-[800px] mt-10 mb-10 mx-auto">

    <div class="content">
    	<h1 class="mb-10">Why Typereel?</h1>

    	<p>Hey, I'm Simon, the creator of Typereel.</p>

    	<p>
    		At various points in my quasi-professional life as a designer I've been in the position of
    		trying to find inspiration for design-related projects. When it comes to typography
    		specifically, the process of finding inspiration has historically been a bit disjointed for me,
    		and one aspect of sourcing inspiration is actually identifying typography; in most cases in the
    		form of fonts that I may want to use in the future.
    	</p>

    	<p>
    		There are tools (with varying degrees of accuracy depending on the composition) that will help
    		you do this in some cases, or of course you can attempt to contact the original creator in the
    		hope they'll provide enlightenment.
    	</p>

    	<p>
    		There are also existing platforms with a committed base of type enthusiasts who will most likely
    		be able to help - the subreddit <a href="https://www.reddit.com/r/identifythisfont/"
    			>/r/identifythisfont</a
    		> is where I would often end up.
    	</p>

    	<p>
    		Despite having these tools and communities available to help, there wasn't anywhere that felt
    		like a quick and easy way to get inspiration for the use of typography. The renowned <a
    			href="https://fontsinuse.com/">Fonts In Use</a
    		> is a great resource for learning about the use of typography, but at the time I still felt there was space
    		for something else; a resource that made it quick and easy to browse a gallery of typographic work as a designer.
    	</p>

    	<h2 class="mt-10 mb-5">Get with the Times, New Roman!</h2>

    	<p>So, I decided to start cataloguing the use of type for myself in the form of a reel.</p>

    	<p>
    		As time went on, I figured others might find it useful, and so I used what little development
    		knowledge I have to build a basic means of registering and contributing.
    	</p>

        <h2 class="mt-10 mb-5">Affiliates</h2>

        <p>Typereel currently has minimal running costs, and as a personal project those are easy enough to cover myself. However, the long term plan to cover costs (in the event that they grow with the site) is to use font marketplace affiliate schemes that provide a kickback from font sales. This has in fact already been implemented; the two marketplaces that currently provide affiliate referral rewards are <a href="https://creativemarket.com/" target="_blank">Creative Market</a> and the Monotype suite of marketplaces including <a href="https://myfonts.com">MyFonts.com</a>, <a href="https://fonts.com">Fonts.com</a>, <a href="https://linotype.com">Linotype.com</a>, <a href="https://fontshop.com">FontShop.com</a>, and <a href="https://typography.com">Typography.com</a>.</p>

        <h2 class="mt-10 mb-5">Contributing</h2>

    	<p>
    		I occasionally chip away at Typereel, but if it is something you'd like to see grow then
    		please <a href="/register">jump in</a>, use it, and provide valuable feedback in order for me
    		to improve and add features.
    	</p>
    	<p>
    		Feel free to request features and report bugs <a
    			href="https://feedback.userreport.com/8061712f-1dd3-41b4-a798-01c14ddb3e43/#ideas/popular"
    			target="_blank">here</a
    		>.
    	</p>

    	<p>
    		Equally if you'd like to contribute to development or be actively involved in working on
    		Typereel itself then feel free to send me an email at <a
    			href="&#109;a&#105;lto&#58;sim%6&#70;n%4&#48;&#116;y&#112;er&#37;&#54;5e&#108;&#46;&#105;%&#54;F"
    			>&#115;i&#109;o&#110;&#64;t&#121;&#112;e&#114;eel&#46;io</a
    		>. I'd love to hear from you!
    	</p>

    	<p>Thanks for stopping by,</p>

    	<p><strong>Simon</strong></p>

    </div>
	
</div>
