<script>

    import { FastAverageColor } from 'fast-average-color';
    import { Button, FilePicker, Input, CheckboxGroup, Select } from 'stwui';

	let step = 1;
	let loading = false;

	function handleFileSelect(files) {

		var f = files.accepted[0];
		var reader = new FileReader();

		reader.onload = (function (theFile) {
			const validationMessageContainer = document.querySelector('.validation');
			validationMessageContainer.innerText = '';

			const acceptedFileTypes = ['image/jpeg', 'image/png', 'image/gif'];

			if (!acceptedFileTypes.includes(theFile.type)) {
				validationMessageContainer.innerText =
					'Please select a file that matches the supported file types.';
				return;
			}

			return function (event) {

                const fac = new FastAverageColor();
                fac.getColorAsync(event.target.result).then(color => {
                    document.getElementById('average-color-input').value = color.rgba;
                }).catch((error) => {
                    console.log(error)
                    document.getElementById('average-color-input').value = `rgb(204, 204, 204)`;
                });

				document.querySelector('.imagePreview').innerHTML = [
					'<img src="',
					event.target.result,
					'" title="',
					theFile.name,
					'" />'
				].join('');
				step = 2;
			};
		})(f);

		reader.readAsDataURL(f);
	}

	function submitSubmissionForm() {
		const consentCheckbox = document.getElementById('consent');
		if (consentCheckbox.checked) {
			loading = true;
			document.getElementById('specimenSubmissionForm').submit();
		}
	}
</script>

<svelte:head>
	<title>Typereel | Submit a specimen</title>
</svelte:head>

<main>
	<div class="mt-10">

        <div class="mx-auto max-w-[600px]">
    		<div id="preview" class="_spaced-t-med" />

    		<form
    			action="/api/submission"
    			method="post"
    			enctype="multipart/form-data"
    			autocomplete="off"
    			class="ui-form _spaced-med"
    			id="specimenSubmissionForm"
    		>
    			<div class="form-group step {step == 1 ? '-active' : ''}">
    				<h1 class="mb-10 text-center">Upload a specimen to the reel</h1>

    				<p class="text-center">
    					Currently supported formats are <strong>.jpg</strong>, <strong>.png</strong> and
    					<strong>.gif</strong>
    					with a max file size of <strong>5MB</strong>.
    				</p>

                    <FilePicker onDrop={(files) => { handleFileSelect(files)}} name="specimenFile">
                    	<FilePicker.Title slot="title">Select a file</FilePicker.Title>
                    	<FilePicker.Description slot="description">Or drag & drop your file here</FilePicker.Description>
                    </FilePicker>

                    <div class="validation"></div>

    			</div>

    			<div class="form-group mt-10 step {step == 2 ? '-active' : ''}">

                    <Button type="primary" href="/submission" title="Restart your upload" rel="external" class="bg-gray-800 mb-5">
                        <svg fill="#fff" class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M18.537 19.567A9.961 9.961 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10c0 2.136-.67 4.116-1.81 5.74L17 12h3a8 8 0 1 0-2.46 5.772l.997 1.795z"/></svg>
                        Start over
                    </Button>

                    <div class="imagePreview mb-10"></div>

            		<CheckboxGroup class="my-10">
            			<CheckboxGroup.Checkbox name="consent" value="consent" checked={false} class="border-gray-400">
            				<CheckboxGroup.Checkbox.Label slot="label">I confirm that I own this image or have permission to upload it</CheckboxGroup.Checkbox.Label>
            			</CheckboxGroup.Checkbox>
            		</CheckboxGroup>
    			</div>

    			<div class="step {step == 2 ? '-active' : ''}">
    				<div class="mb-5 font-weight-bold">If you found this image online please credit the source</div>

            		<Input
            			class="mt-5"
            			name="creditName"
            			id="creditName"
            			allowClear
            		>
            			<Input.Label slot="label">Image credit name</Input.Label>
            		</Input>

            		<Input
            			class="mt-5"
            			name="creditUrl"
            			id="creditUrl"
            			allowClear
                        placeholder="e.g. www.reddit.com/..."
            		>
            			<Input.Label slot="label">Image credit URL</Input.Label>
            		</Input>

                    <Select name="creditType" id="creditType" placeholder="Select a type" class="mt-5">
                        <Select.Label slot="label">Credit type</Select.Label>
                    	<Select.Options slot="options">
                			<Select.Options.Option option={JSON.parse('{"value": "Designer", "label": "Designer"}')} />
                			<Select.Options.Option option={JSON.parse('{"value": "Illustrator", "label": "Illustrator"}')} />
                			<Select.Options.Option option={JSON.parse('{"value": "Publisher", "label": "Publisher"}')} />
                			<Select.Options.Option option={JSON.parse('{"value": "Poster", "label": "Social Poster"}')} />
                    	</Select.Options>
                    </Select>

    				<div class="mt-10 mb-5">
    					If you know details about the type in this image please add them here, otherwise leave
    					these fields blank
    				</div>

            		<Input
            			class="mt-5"
            			name="name"
            			id="name"
            			allowClear
                        placeholder="e.g. Helvetica Nueue"
            		>
            			<Input.Label slot="label">Font name</Input.Label>
            		</Input>

            		<Input
            			class="mt-5"
            			name="name"
            			id="name"
            			allowClear
                        placeholder="http://"
            		>
            			<Input.Label slot="label">Reference link</Input.Label>
            		</Input>

                    <div class="mt-2">
						<small>
                            A reference link is the location of where the font can be viewed online. It helps us to confirm the id of a font.
                        </small>
					</div>

            		<Input
            			class="mt-5"
            			name="tags"
            			id="tags"
            			allowClear
                        placeholder="e.g. music, poster"
            		>
            			<Input.Label slot="label">Tags</Input.Label>
            		</Input>

                    <div class="mt-2">
						<small>Tags should be comma separated</small>
					</div>

    			</div>

                <input type="hidden" name="averageColor" value="" id="average-color-input">

    			<div class="my-10 step {step == 2 ? '-active' : ''}">
    				<Button
                        class="{loading ? '-loading' : ''}"
    					on:click={submitSubmissionForm}
                        type="primary"
    				>
                        {#if loading}
        					<svg
        						fill="#fff"
        						xmlns="http://www.w3.org/2000/svg"
        						viewBox="0 0 24 24"
        						width="24"
        						height="24"
                                class="animate-spin mr-2"
        					>
        						<path fill="none" d="M0 0h24v24H0z" /><path
        							class="spinner-path"
        							d="M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364z"
        						/></svg
        					>
                        {/if}
    					Submit
    				</Button>
    			</div>
    		</form>
        </div>
	</div>
</main>

<style>
	.step {
		display: none;
	}
	.step.-active {
		display: block;
	}
</style>
