<script>

	import NavMain from '$lib/components/NavMain.svelte';
	import Footer from '$lib/components/Footer.svelte';

    export let data;

</script>

<svelte:head>
	<title>Typereel | Page not found</title>
</svelte:head>

<div class="ui-layout -spaced -hero-plus-nav">
	<NavMain user={data.user} returnToUrl={data.returnToUrl} />
	<main>
		<div class="my-20 text-center">
            Page not found
        </div>
	</main>
	<Footer />
</div>