<script>
	import '../../app.postcss';
	import { Layout, Button, Portal, Drawer, Icon } from 'stwui';
    import Footer from '$lib/components/Footer.svelte';
    import Modal from '$lib/components/Modal.svelte';

	export let data;

	const menuIcon = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z" fill="#000"></path></svg>';

	async function logout() {
		await fetch('/user/logout');
		window.location = '/';
	}

    let drawerLeftOpen = false;

    function openDrawerLeft() {
		drawerLeftOpen = true;
	}

	function closeDrawerLeft() {
		drawerLeftOpen = false;
	}

</script>

<Layout>
	<Layout.Header class="max-h-none static z-0 shadow-none py-6">
        <div class="container mx-auto flex justify-between">

            <Button type="link" on:click={openDrawerLeft} class="p-0 mr-4 lg:hidden">
                <Icon data={menuIcon} />
            </Button>

    		<a href="/" class="flex align-center">
    			<img src="/images/logo-header.svg" width="200" height="49" alt="Typereel Logo" class="max-w-[120px] md:max-w-[150px] lg:max-w-none" />
    		</a>

    		<Layout.Header.Extra slot="extra">
    			<ul class="hidden lg:flex">
    				<li class="mr-2"><Button type="link" href="/submission">Upload Specimen</Button></li>
    				<li class="mr-2"><Button type="link" href="/fonts">Fonts</Button></li>
    				<li class="mr-2"><Button type="link" href="/about">About Typereel</Button></li>
    			</ul>
    			{#if data.user}
    				<Button type="primary" on:click={logout} class="btn btn-primary nav-link">Logout</Button>
    			{:else}
    				<Button
                        type="primary"
    					href="/login{data.returnToUrl ? '?referrer=' + data.returnToUrl : ''}"
                        class="mr-2 p"
    				>
    					Login
    				</Button>
    				<Button
                        type="primary"
    					href="/register{data.returnToUrl ? '?referrer=' + data.returnToUrl : ''}"
    				>
    					Register
    				</Button>
    			{/if}
    		</Layout.Header.Extra>
        </div>
	</Layout.Header>

	<Layout.Content>
		<Layout.Content.Body>
			<slot />
		</Layout.Content.Body>
	</Layout.Content>
    <Footer />
</Layout>

<Portal>
	{#if drawerLeftOpen}
		<Drawer handleClose={closeDrawerLeft} placement="left">
            <Drawer.Content slot="content">
    			<ul>
    				<li>
                        <Button type="link" size="lg" class="w-full justify-start mb-4" href="/submission" rel="external">Upload Specimen</Button>
                    </li>
    				<li>
                        <Button type="link" size="lg" class="w-full justify-start mb-4" href="/fonts" rel="external">Fonts</Button>
                    </li>
    				<li>
                        <Button type="link" size="lg" class="w-full justify-start" href="/about" rel="external">About Typereel</Button>
                    </li>
    			</ul>
            </Drawer.Content>
        </Drawer>>
	{/if}
</Portal>

<Modal />
