<script>
	import SectionHero from '$lib/components/SectionHero.svelte';

    export let data;

	const pageData = {
		title: 'An ever-growing showcase of type',
		description:
			'<p>Typereel is a user-contributed collection of specimens documenting the use of typography both online and in the real world.</p><p>We collectively contribute, appreciate and catalogue the use of type by a dedicated and talented global design community.</p>',
		image: {
			src: '/images/home-reel.png',
			alt: 'A screenshot of typereel specimens',
			width: '1151',
			height: '773'
		}
	};
</script>

<svelte:head>
	<title>Typereel | A repository of type in the real world</title>
</svelte:head>

<main>
    <div class="container mx-auto">
    	<SectionHero {pageData} />
    </div>
</main>