<svelte:head>
  <title>Verify your account | Typereel</title>
</svelte:head>

<div class="container mx-auto mt-10 text-center">

  <h1>Thanks for registering</h1>

  <img src="images/robot.svg" alt="Robot head" width="120" height="120" class="inline-block my-10">

  <p>Please verify your email address to let us know you aren't a robot.</p>
  <p>We've sent you an email address with a verification link.</p>
  <p><strong>Unverified accounts will be automatically removed in 30 days.</strong></p>

</div>
